body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #008080;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.content {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 20px;
}

.col {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%; 
    text-align: center;
}

.col h2 {
    color: #008080;
    font-size: 1.8em;
}

.col p {
    font-size: 1.1em;
}

.col img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

footer {
    background-color: #008080;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    color: #008080;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #008080;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #008080;
    color: #fff;
}


@media (max-width: 900px) {
    .col {
        width: 100%; 
    }
}
